#corpo {
    border: 3px solid #07f232;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(237, 237, 237);
}

#container {
    padding: 1rem;
    border: 3px solid rgb(146, 145, 145);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.03rem rgb(198, 197, 197);
}

.campo{
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

input{
    padding: 0.3rem;
}

button{
    margin-top: 1.5rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border: none;
    background-color: blue;
}